body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: #303030;
}

/* DESKTOP NAVBAR */

@media only screen and (min-width: 740px) {

    .tablet {
        display: none;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;
        position: fixed;
        top: 0;
        height: 64 px;
        background: #ffffff;
    }

    .desktop .left {
        display: flex;
        margin-left: 24px;
        height: 50px;
        width: auto;
        align-items: center;
    }

    .desktop .logo {
        font-size: 32px;
        font-family: Roboto;
        font-weight: 300;
    }

    .desktop .logo span {
            font-weight: 100;
    }

    .desktop img {
        height: 50px;
        width: auto;
}

    .desktop .right {
        display: flex;
        float: right;
        margin-right: 24px;
    }

    .desktop .right p {
        padding: 0 8px;
        font-family: Roboto;
    }
}

/* ICON NAVBAR */
@media only screen and (max-width: 740px) {
    .dekstop {
        display: none;
    }

    .desktop .right {
        display: none;
    }

    .desktop .left {
        display: none;
    }
    
    .tablet {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;
        position: fixed;
        top: 0;
        height: 64 px;
        background: #ffffff;
        margin-right: 50px;
    }

    .tablet img {
        height: 50px;
    }

}


/* FIRST BLOCK */

.first-block { 
    background-color: rgb(226, 226, 226);
    width: 100%;
    margin-top: 64px;
}

@media screen and (min-width: 740px) and (max-width: 1296px) {
    .first-block img {
        width: 60%;
        height: auto;
        margin: 32px 24px;
    }

    .first-block {
        display: flex;
        align-items: center;
    }

    .first-block .text {
        margin-right: 48px;
        display: flex;
        flex-direction: column;
        color: #1f1f1f;
    }

    .bold {
        font-weight: 900;
        font-size: 40px;
        line-height: 1;
        margin: 0 0;
    }
    
    .semi-bold {
        line-height: 1;
        font-weight: 400;
        font-size: 20px;
    }

    .button {
        text-align: center;
        padding: 15px 0;
        background: #303030;
        color: white;
    }

    .button:hover {
        background: rgb(255, 223, 40);
        color: #000;
        transition: color, 700ms, ease-in, 400ms;
    }
}


@media only screen and (min-width: 1297px) {

    .first-block img {
        width: 60%;
        height: auto;
        margin: 32px 24px;
    }

    .first-block {
        display: flex;
        align-items: center;
    }

    .first-block .text {
        margin-right: 48px;
        display: flex;
        flex-direction: column;
        color: #1f1f1f;
    }

    .bold {
        font-weight: 900;
        font-size: 60px;
        line-height: 1.5;
        margin: 0 0;
    }
    
    .semi-bold {
        line-height: 1;
        font-weight: 400;
        font-size: 35px;
        margin: 25px 0;
    }

    .button {
        text-align: center;
        padding: 15px 0;
        background: #303030;
        color: white;
    }

    .button:hover {
        background: rgb(255, 223, 40);
        color: #000;
        transition: color, 700ms, ease-in, 400ms;
    }
    
}

/* SECOND BLOCK */

@media screen and (min-width: 740px) and (max-width: 1296px) {
    .second-block {
        display: flex;
        width: 100%;
    }

    .practice {
        display: flex;
        flex-direction: column;
        margin: 32px 24px;
        width: 60%;
    }

    .information {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: 16px;
        height: auto;
        flex-wrap: nowrap;
    }

    .information img {
        width: 80%;
    }

    .information .item {
        display: flex;
        padding: 8px 0;
        padding-left: 8px;
        padding-bottom: 0;
    }

    .information .details {
        width: 65%;
        min-width: 150px;
    }

    .information .link {
        font-family: Roboto;
        color: rgb(75, 198, 255);
        margin-top: 4px;
    }

    .item {
        display: flex;
        align-items: flex-start;
    }

    .item .semi-bold {
        margin-bottom: 4px;
        margin-top: 2.5px;
    }

    .item:hover {
        background: rgb(226, 226, 226);
        transition: color, 700ms, ease-in, 400ms;
    }

    .practice .bold {
        margin-top: 16px;
        font-size: 30px;
    }

    .practice .quote {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 200;
    }

    .practice .comment {
        font-family: Roboto;
        margin-bottom: 16px;
        font-weight: bolder;
    }
}

@media only screen and (min-width: 1297px) {
    .second-block {
        display: flex;
        width: 100%;
    }

    .practice {
        display: flex;
        flex-direction: column;
        margin: 32px 24px;
        width: 60%;
    }

    .information {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-top: 16px;
        height: auto;
        flex-wrap: nowrap;
    }

    .information img {
        width: 90%;
    }

    .information .item {
        display: flex;
        padding: 16px 0;
        padding-left: 16px;
    }

    .information .details {
        width: 65%;
        margin-left: 20px;
        min-width: 175px;
    }

    .information .link {
        font-family: Roboto;
        color: rgb(75, 198, 255);
        margin-top: 8px;
    }

    .item {
        display: flex;
        align-items: flex-start;
    }

    .item .semi-bold {
        margin-bottom: 8px;
        margin-top: 5px;
    }

    .item:hover {
        background: rgb(226, 226, 226);
        transition: color, 700ms, ease-in, 400ms;
    }

    .practice .bold {
        margin-top: 16px;
        font-size: 40px;
    }

    .practice .quote {
        margin-bottom: 16px;
        font-size: 16px;
        font-weight: 200;
    }

    .practice .comment {
        font-family: Roboto;
        margin-bottom: 16px;
        font-weight: bolder;
    }
}

/* THIRD BLOCK */
@media screen and (min-width: 740px) and (max-width: 1296px) {
    .third-block {
        width: 100%;
        background:rgb(226, 226, 226);
    }

    .third-block .bold {
        padding: 32px 0;
        text-align: center;
        font-size: 30px;
    }

    .third-block .courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 32px;
    }

    .third-block .courses .course {
        margin: 0px 16px;
        background: #fff;
        width: 25%;
        margin-bottom: 16px;
    }

    .courses .course:hover {
        background:rgb(255, 223, 40);
        transition: color, 700ms, ease-in, 400ms;
    }

    .third-block .courses .course .description{
        margin-left: 16px;
        margin-bottom: 12px;
        margin-right: 5px;
    }

    .course img {
        height: auto;
        width: 100%;
    }

    .course .semi-bold {
        margin: 0 0;
    }

    .courseimg {
        margin-bottom: 8px;
    }

    .course p {
        margin: 8px 0;
    }

}

@media only screen and (min-width: 1296px) {
    .third-block {
        width: 100%;
        background:rgb(226, 226, 226);
    }

    .third-block .bold {
        padding: 32px 0;
        text-align: center;
        font-size: 40px;
    }

    .third-block .courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .third-block .courses .course {
        margin: 0px 16px;
        background: #fff;
        width: 25%;
        margin-bottom: 32px;
    }

    .courses .course:hover {
        background:rgb(255, 223, 40);
        transition: color, 700ms, ease-in, 400ms;
    }

    .third-block .courses .course .description{
        margin-left: 16px;
        margin-bottom: 24px;
    }

    .course img {
        height: auto;
        width: 100%;
    }

    .course .semi-bold {
        margin: 0 0;
    }

    .courseimg {
        margin-bottom: 8px;
    }

    .course p {
        margin: 8px 0;
    }
}


@media only screen and (min-width: 1297px) {
    .third-block {
        width: 100%;
        background:rgb(226, 226, 226);
    }

    .third-block .bold {
        padding: 32px 0;
        text-align: center;
        font-size: 40px;
    }

    .third-block .courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .third-block .courses .course {
        margin: 0px 16px;
        background: #fff;
        width: 25%;
        margin-bottom: 32px;
    }

    .courses .course:hover {
        background:rgb(255, 223, 40);
        transition: color, 700ms, ease-in, 400ms;
    }

    .third-block .courses .course .description{
        margin-left: 16px;
        margin-bottom: 24px;
    }

    .course img {
        height: auto;
        width: 100%;
    }

    .course .semi-bold {
        margin: 0 0;
    }

    .courseimg {
        margin-bottom: 8px;
    }

    .course p {
        margin: 8px 0;
    }

}
/* THESIS EXHIBIT */

@media screen and (min-width: 740px) and (max-width: 1296px) {
    .thesis-exhibit {
        display: flex;
        width: 100%;
    }

    .thesis-exhibit .projects {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }

    .thesis-exhibit .projects .project {
        display: flex;
    }

    .thesis-exhibit .video {
        width: 60%;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
        margin-top: 0;
    }

    .thesis-exhibit video {
        width: 100%;
    }

    #bold {
        padding: 32px 0;
        text-align: center;
        font-size: 40px;
        margin: 0;
    }

    .video .semi-bold {
        margin-top: 24px;
        margin-bottom: 8px;
    }

    .project img {
        width: 125px;
        height: auto;
        margin: 8px 8px;
    }

    .project:hover {
        background:rgb(226, 226, 226);
    }

    .project .details .semi-bold {
        font-size: 20px;
    }

    .prokect .details p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1297px) {
    .thesis-exhibit {
        display: flex;
        width: 100%;
    }

    .thesis-exhibit .projects {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
    }

    .thesis-exhibit .projects .project {
        display: flex;
    }

    .thesis-exhibit .video {
        width: 60%;
        margin-left: 24px;
        margin-right: 24px;
        margin-bottom: 24px;
        margin-top: 0;
    }

    .thesis-exhibit video {
        width: 100%;
    }

    #bold {
        padding: 32px 0;
        text-align: center;
        font-size: 40px;
        margin: 0;
    }

    .video .semi-bold {
        margin-top: 24px;
        margin-bottom: 8px;
    }

    .course .details {
        width: 40%;
        margin-left: 8px;
        min-width: 175px;
    }

    .project img {
        width: 200px;
        height: auto;
        margin: 16px 16px;
    }

    .project:hover {
        background:rgb(226, 226, 226);
    }
}

/* FOOTER */

@media only screen and (min-width: 740px) {
    footer {
        display: flex;
        justify-content: space-between;
        margin-left: 24px;
        margin-top: 16px;
        border-top: #000;
        align-items: center;
    }

    .terms {
        display: flex;
        margin-right: 24px;
    }

    .terms p {
        margin: 0 9px;
    }

    i {
        margin-right: 5px;
        
    }
}


